* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit
}

html, body {
  height: 100%;
  font-family: poppins;
}

header {
  display: flex ;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border: 1px solid black;
}
h1 {
  font-weight: 600;
}
h2 {
  font-weight: 500;
}

h2 {
  margin-top: 2rem;
  margin-left: 1rem
}

.topic-cards-container {
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 90%;
  margin: 20px auto ;
  gap: 2rem 1.5rem ;
}

.topic-card {
  border: 1px solid red;
  height: 200px;
  border-radius: 2rem;
  padding: 1rem 1rem;
  cursor: pointer;
}